<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eb.pcshop.manager.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.eb.pcshop.manager.pojo.po.News" >
    <constructor >
      <idArg column="nid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="nname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nflag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ndesc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    nid, nname, nflag, ndesc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eb.pcshop.manager.pojo.po.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_news
    where nid = #{nid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_news
    where nid = #{nid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eb.pcshop.manager.pojo.po.NewsExample" >
    delete from tab_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eb.pcshop.manager.pojo.po.News" >
    insert into tab_news (nid, nname, nflag, 
      ndesc)
    values (#{nid,jdbcType=INTEGER}, #{nname,jdbcType=VARCHAR}, #{nflag,jdbcType=INTEGER}, 
      #{ndesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eb.pcshop.manager.pojo.po.News" >
    insert into tab_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        nid,
      </if>
      <if test="nname != null" >
        nname,
      </if>
      <if test="nflag != null" >
        nflag,
      </if>
      <if test="ndesc != null" >
        ndesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        #{nid,jdbcType=INTEGER},
      </if>
      <if test="nname != null" >
        #{nname,jdbcType=VARCHAR},
      </if>
      <if test="nflag != null" >
        #{nflag,jdbcType=INTEGER},
      </if>
      <if test="ndesc != null" >
        #{ndesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eb.pcshop.manager.pojo.po.NewsExample" resultType="java.lang.Integer" >
    select count(*) from tab_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_news
    <set >
      <if test="record.nid != null" >
        nid = #{record.nid,jdbcType=INTEGER},
      </if>
      <if test="record.nname != null" >
        nname = #{record.nname,jdbcType=VARCHAR},
      </if>
      <if test="record.nflag != null" >
        nflag = #{record.nflag,jdbcType=INTEGER},
      </if>
      <if test="record.ndesc != null" >
        ndesc = #{record.ndesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_news
    set nid = #{record.nid,jdbcType=INTEGER},
      nname = #{record.nname,jdbcType=VARCHAR},
      nflag = #{record.nflag,jdbcType=INTEGER},
      ndesc = #{record.ndesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eb.pcshop.manager.pojo.po.News" >
    update tab_news
    <set >
      <if test="nname != null" >
        nname = #{nname,jdbcType=VARCHAR},
      </if>
      <if test="nflag != null" >
        nflag = #{nflag,jdbcType=INTEGER},
      </if>
      <if test="ndesc != null" >
        ndesc = #{ndesc,jdbcType=VARCHAR},
      </if>
    </set>
    where nid = #{nid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eb.pcshop.manager.pojo.po.News" >
    update tab_news
    set nname = #{nname,jdbcType=VARCHAR},
      nflag = #{nflag,jdbcType=INTEGER},
      ndesc = #{ndesc,jdbcType=VARCHAR}
    where nid = #{nid,jdbcType=INTEGER}
  </update>
</mapper>